/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== BODY ===== */
body {
  font-family: 'Inter', sans-serif;
  background: #0f2027;
  color: rgb(224, 194, 194);
  -webkit-font-smoothing: antialiased;
}

/* ===== HEADINGS (Luxury Serif) ===== */
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
}
